nav ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 20px;
    padding: 5px 12px;
    border-radius: 3px;
}
nav li:hover{
    background-color: lightgray;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
nav > ul > li:hover > ul {
    display: block;
}
.dropdown{
 display: none;
 position: absolute;
 background-color: antiquewhite;
 padding: 0px;
}
.dropdown li{
    padding: 0px;
    margin: 0px;
}